.video-grid {
  display: flex;
  width: 100%;
  height: 350px;
  margin-top: 2%;
}

.video-display-header {
  border-bottom: 4px solid $red;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
}

.video-display-main {
  width: 100%;
  height: 100%;
}

.video-display-secondary {
  overflow-y: scroll;
  height: 100%;
  width: 40%;
}

.secondary-video {
  height: 100px;
  cursor: pointer;
  margin: 5px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  transition: 0.2s linear all;
  &:hover {
    opacity: 1;
  }
}

.video-icon {
  background-color: $red;
  position: relative;
  display: flex;
  width: 1.5rem;
  padding: 0.2rem;
  justify-content: center;
}

.video-text {
  color: $white;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.9)
  );
  position: relative;
  top: 60px;
  font-weight: 400;
}

// sidebanner component

.sidebanner-image {
  width: 100%;
}

// article component

.article-card {
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 10px;
  margin: 10px 0;
  border-bottom: 1px solid $lightGrayish;
}

.article-card-img-wrapper {
  width: 30%;
  height: 100%;
}

.article-card-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-video-icon {
  background-color: $red;
  position: relative;
  display: flex;
  width: 1.5rem;
  padding: 0.2rem;
  justify-content: center;
  transform: translate(250%, -350%);
}

.article-text {
  width: 67%;
  margin-left: 3%;
}

.article-category {
  color: $red;
  font-weight: 700;
  font-size: 12px;
}

.article-header {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

.article-content {
  font-size: 12px;
  color: $lightGrayish;
}

.article-text-bottom {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: $lightGrayish;
  font-size: 12px;
  transform: translateY(70%);
}

.icon-color {
  color: $lightGrayish !important;
}

.popular-display-header {
  border-bottom: 4px solid $brightBlue;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
}

.survey-wrapper {
  transform: translateY(30%);
  word-break: break-all;
  background-color: #f6f6f6;
  padding: 50px 0;
}

.survey-header {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.survey-answer-card {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 10px auto;
  padding-left: 3%;
  border-radius: 2px;
  background-color: $white;
}

.survey-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.survey-btn {
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.1s linear all;
  &-filled {
    background-color: $darkBlue;
    color: $white;
    border: 1px solid $darkBlue;
    border-radius: 4px;
  }
  &-empty {
    color: $darkBlue;
    border: 1px solid $darkBlue;
    border-radius: 4px;
  }
  &:hover {
    -webkit-box-shadow: -1px 4px 6px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 6px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 6px -2px rgba(0, 0, 0, 0.75);
  }
}

// grid

.home-grid {
  display: grid;
  grid-template-columns: 40% 40% 18%;
  grid-template-rows: 50px 370px 500px 700px;
  column-gap: 1%;
  row-gap: 1%;
  margin-top: 2%;
}

.grid-item-video {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-item-sidebanner {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-top: -10%;
}

.grid-item-article {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.grid-item-mostpopular {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.grid-item-survey {
  grid-column-start: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
