/* public nav top */
.nav-top-custom {
  background-color: $darkGray;
  width: 100%;
  height: 50px;
}

.nav-wrapper-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @media (max-width: $screen-max-phone) {
    justify-content: center;
    width: 100% !important;
  }
}

.nav-top-link-first {
  margin-right: 10px;
  padding-right: 10px;
  color: $white;
  &:hover {
    color: $linksInputs;
    transition: 0.2s;
  }
  @media (max-width: $screen-max-tablet) {
    margin: 0 5px;
    padding: 0 5px;
    font-size: 10px;
  }
  @media (max-width: $screen-max-phone) {
    margin: 0 2px;
    padding: 0 2px;
    font-size: 10px;
  }
}

.nav-top-link {
  margin: 0 10px;
  padding: 0 10px;
  color: $white;
  &:hover {
    color: $linksInputs;
    transition: 0.2s;
  }
  @media (max-width: $screen-max-tablet) {
    margin: 0 5px;
    padding: 0 5px;
    font-size: 10px;
  }
  @media (max-width: $screen-max-phone) {
    margin: 0 2px;
    padding: 0 2px;
    font-size: 10px;
  }
}

.nav-content-left {
  @media (max-width: $screen-max-tablet) {
    width: 100%;
  }
  @media (max-width: $screen-max-phone) {
    width: 100%;
  }
}

.nav-content-right {
  @media (max-width: $screen-max-tablet) {
    display: none;
  }
  @media (max-width: $screen-max-phone) {
    display: none;
  }
}

/* nav middle  */

.nav-middle-custom {
  background-color: $lightGrayish;
  width: 100%;
  height: 100px;
  @media (max-width: $screen-max-phone) {
    height: 70px;
  }
}

.nav-middle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $screen-max-phone) {
    justify-content: flex-start;
  }
}

.logo-img {
  width: 100%;
  height: 100%;
  @media (max-width: $screen-max-phone) {
    height: 70px;
  }
}

.nav-btn {
  background-color: $brightBlue !important;
}

.nav-middle-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  @media (max-width: $screen-max-tablet) {
    width: 40%;
  }
  @media (max-width: $screen-max-phone) {
    display: none;
  }
}

.nav-icon-color {
  color: $darkGray;
  font-size: 18px;
}

.nav-icon-color-f {
  color: $white;
  font-size: 18px;
}

/* nav-bottom */
.nav-bottom-custom {
  background-color: $brightBlue;
  width: 100%;
  height: 50px;
}

.nav-buttom-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  @media (max-width: $screen-max-tablet) {
    width: 100% !important;
  }
  @media (max-width: $screen-max-phone) {
    width: 100% !important;
  }
}
.nav-bottom-link-first {
  margin-right: 10px;
  padding-right: 10px;
  color: $white;
  font-weight: 700;
  @media (max-width: $screen-max-tablet) {
    margin-right: 5px;
    font-size: 12px;
  }
  @media (max-width: $screen-max-phone) {
    margin-right: 2px;
    font-size: 10px;
  }
}
.nav-bottom-link {
  margin: 0 10px;
  padding: 0 10px;
  color: $white;
  font-weight: 700;
  @media (max-width: $screen-max-tablet) {
    margin: 0 5px;
    font-size: 12px;
  }
  @media (max-width: $screen-max-phone) {
    margin: 0 2px;
    font-size: 10px;
  }
}

.nav-active {
  color: $linksInputs;
}
