/* public nav top */
.nav-top-custom {
  background-color: $darkGray;
  width: 100%;
  height: 50px;
}

.nav-wrapper-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-top-link-first {
  margin-right: 10px;
  padding-right: 10px;
  color: $white;
  &:hover {
    color: $linksInputs;
    transition: 0.2s;
  }
}

.nav-top-link {
  margin: 0 10px;
  padding: 0 10px;
  color: $white;
  &:hover {
    color: $linksInputs;
    transition: 0.2s;
  }
}

/* nav middle  */

.nav-middle-custom {
  background-color: $lightGrayish;
  width: 100%;
  height: 100px;
}

.nav-middle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 100%;
  height: 100px;
}

.nav-btn {
  background-color: $brightBlue !important;
}

.nav-middle-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.nav-icon-color {
  color: $darkGray;
  font-size: 18px;
}

.nav-icon-color-f {
  color: $white;
  font-size: 18px;
}

/* nav-bottom */
.nav-bottom-custom {
  background-color: $brightBlue;
  width: 100%;
  height: 50px;
}

.nav-buttom-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.nav-bottom-link-first {
  margin-right: 10px;
  padding-right: 10px;
  color: $white;
  font-weight: 700;
}
.nav-bottom-link {
  margin: 0 10px;
  padding: 0 10px;
  color: $white;
  font-weight: 700;
}

.nav-active {
  color: $linksInputs;
}
