.onama-paragraph {
  margin: 5% 0;
  font-weight: 500;
}

.onama-paragraph2 {
  font-weight: 500;
}

.onama-ul {
  margin: 5% 0;
  font-weight: 700;
  font-size: 16px;
}

.partneri-image {
  text-align: center;
}

.static-image {
  width: 20%;
}

.partneri-div-li {
  margin: 3% 0;
}

.partner-div-li-span {
  font-weight: 700;
}

.grid-lica {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 2%;
  row-gap: 3%;
  margin-bottom: 300px;
}

.grid-lica-item {
  width: 100%;
  height: 100%;
}

.lica-image {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.lica-text {
  background-color: $red;
  color: $white;
  font-weight: 700;
  padding: 10px 20px;
}

.licasingle-wrapper {
  display: flex;
}

.licasinge-image {
  width: 40%;
  height: 100%;
}

.licasingle-text {
  margin-left: 5%;
}

.licasingle-text-content {
  text-transform: capitalize;
  margin: 5% 0;
}

.navpage-image {
  text-align: center;
  margin: 5% 0;
}
