.onama-paragraph {
  margin: 5% 0;
  font-weight: 500;
}

.onama-paragraph2 {
  font-weight: 500;
}

.onama-ul {
  margin: 5% 0;
  font-weight: 700;
  font-size: 16px;
}

.partneri-image {
  text-align: center;
}

.partneri-div-li {
  margin: 3% 0;
}

.partner-div-li-span {
  font-weight: 700;
}

.lica-wrapper {
  width: 100%;
  height: 200px;
  background-color: $darkGray;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.lica-image {
  object-fit: cover;
  width: 20%;
  height: 100%;
}
